include README.rst
include CHANGELOG.rst
include pypi_mobans/resources/templates/*
recursive-include pypi_mobans/resources/templates/gitignore *.*
include pypi_mobans/resources/templates/docs/*
include pypi_mobans/resources/templates/tests/*
include pypi_mobans/resources/config/*
