sudo: false
dist: xenial
language: python
notifications:
  email: false
python:
  - 3.7
  - 2.7

stages:
  - test
  - lint
  - moban

.disable_global: &disable_global
  addons: false
  cache: false
  env: {}
  python: false
  before_install: false
  install: false
  before_script: false
  script: false
  after_success: false
  after_failure: false
  before_deploy: false
  deploy: false

.lint: &lint
  <<: *disable_global
  git:
    submodules: false
  python: 3.6
  stage: lint
  script: make install_test lint

.moban: &moban
  <<: *disable_global
  python: 3.6
  stage: moban
  install: pip install moban>=0.0.4
  script: make upstreaming git-diff-check

jobs:
  include:
    - *moban
    - *lint
  allow_failures:
    - stage: test

stage: test

before_install:
  - if [[ -f min_requirements.txt && "$MINREQ" -eq 1 ]]; then
      mv min_requirements.txt requirements.txt ;
    fi
  - test ! -f rnd_requirements.txt ||
    pip install --no-deps -r rnd_requirements.txt
  - test ! -f rnd_requirements.txt || pip install -r rnd_requirements.txt ;
  - pip install -r tests/requirements.txt
before_script:
  - find templates/ -type f -name '*.jj2' -exec echo '{}' \; |
    sed -e "s/templates\//{%include \"/" -e "s/$/\" %}/" > test.file
script:
  - moban -c config/data.yml -t test.file -td templates .
  - pytest
after_success:
  codecov
